.divAdvert{
    border:0px;
    margin:0px;
    padding:0px;
    display:contents;
    flex-direction: column;
    max-width:50%;
    width:100%;
}
img{
    height:300px;
}
@keyframes animate {
    from {
        top:-320px;
    }
    to {
        top:0px;
    }
}
#ad1{
    animation-name: animate;
    animation-duration: 5s;
    animation-direction: forwards;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    width:100%;
    position:relative;
}