body{
    background-color: black;
}
p, ol{
    color:whitesmoke;
    margin:4px;
}
h1{
    color: red;
    text-align: center;
}
h2{
    color: orangered;
    text-align: center;
    border: 2px solid white;
    padding:10px;
    margin:20px;
}
h3{
    color: whitesmoke
    
}
b{
    color:gray;
    background-color:whitesmoke;
}