h1{
    text-align:center;
}
.divAdvert{
    border:0px;
    margin:0px;
    padding:0px;
    display:contents;
    flex-direction: column;
    max-width:50%;
    width:100%;
}
img{
    height:300px;
}
@keyframes animate {
    from {
        top:-765px;
    }
    to {
        top:-450px;
    }
}
#ad1{
    animation-name: animate;
    animation-duration: 3s;
    animation-direction: forwards;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    width:100%;
    position:relative;
    top:-450px;
}
.headline{
    text-align:center
}
.story{
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    width:50%;
}
.piece{
    display: flex;
    flex-direction: column;
    width:65%;
}